<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JSON Editor</title>
    <% for (var key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
    <% } %>
</head>
<body>
    <div id="json-edit"></div>
    <% for (var key in htmlWebpackPlugin.files.js) { %>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>
</body>
</html>